# Ignore node_modules
node_modules/

# Ignore compiled JavaScript files
dist/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore Mac system files
.DS_Store

# Ignore npm debug files
npm-debug.log
yarn-debug.log
yarn-error.log
